*{
    padding: 0;
    margin: 0;
}

h1, h3 {
    border-radius: 0.3rem;
    background-image: url("../img/fondo-titulo-secundario.jpg");
}

#resultado {
    background-image: url("../img/fondo-titulo-secundario.jpg");
}

.fase-de-grupos div img {
    height: 5vh;
    width: 100%;
}

.grupo li:hover {
    background: rgb(146, 21, 73);
    color: white;
}

.grupo li button {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
}


.grupo li img {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    margin: 0.15rem;
}

.grupo li div {
    border-radius: 0.3rem;
    width: 1.5rem;
}

.octavos div button {
    width: 10rem;
    height: 4rem;
    background: white;
    color: black;
}

.octavos div button:hover {
    background:rgb(146, 21, 73);
}

.octavos div button img {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}

.cuartos div button {
    width: 10rem;
    height: 4rem;
    background: white;
    color: black;
}

.cuartos div button:hover {
    background:rgb(146, 21, 73);
}

.cuartos div button img {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}

#imgOctavosA1, #imgOctavosA2, #imgOctavosB1, #imgOctavosB2,
    #imgOctavosC1, #imgOctavosC2, #imgOctavosD1, #imgOctavosD2,
    #imgOctavosE1, #imgOctavosE2, #imgOctavosF1, #imgOctavosF2,
    #imgOctavosG1, #imgOctavosG2, #imgOctavosH1, #imgOctavosH2,
    #imgCuartosO1, #imgCuartosO2, #imgCuartosO3, #imgCuartosO4, 
    #imgCuartosO5, #imgCuartosO6, #imgCuartosO7, #imgCuartosO8,
    #imgSemi1, #imgSemi2, #imgSemi3, #imgSemi4,
    #imgTercer1, #imgTercer2, #imgFinal1, #imgFinal2, #imgCampeon,
    #posicionGrupoQatar, #posicionGrupoEcuador, #posicionGrupoSenegal,
    #posicionGrupoPaisesBajos, #posicionGrupoInglaterra, #posicionGrupoIran,
    #posicionGrupoEstadosUnidos, #posicionGrupoGales, #posicionGrupoArgentina,
    #posicionGrupoArabiaSaudita, #posicionGrupoMexico, #posicionGrupoPolonia,
    #posicionGrupoFrancia, #posicionGrupoAustralia, #posicionGrupoDinamarca,
    #posicionGrupoTunez, #posicionGrupoEspaña, #posicionGrupoCostaRica, 
    #posicionGrupoAlemania,
    #posicionGrupoJapon, #posicionGrupoBelgica, #posicionGrupoCanada,
    #posicionGrupoMarruecos, #posicionGrupoCroacia, #posicionGrupoBrazil,
    #posicionGrupoSerbia, #posicionGrupoSuiza, #posicionGrupoCamerun,
    #posicionGrupoPortugal, #posicionGrupoGhana, #posicionGrupoUruguay,
    #posicionGrupoCoreadelSur {
    display: none;
}

#ganadorOctavosA1, #ganadorOctavosA2, #ganadorOctavosB1, 
    #ganadorOctavosB2, #ganadorOctavosC1, #ganadorOctavosC2,
    #ganadorOctavosD1, #ganadorOctavosD2, #ganadorOctavosE1, 
    #ganadorOctavosE2, #ganadorOctavosF1, #ganadorOctavosF2,
    #ganadorOctavosG1, #ganadorOctavosG2, #ganadorOctavosH1,
    #ganadorOctavosH2, #ganadorCuartosO1, #ganadorCuartosO2,
    #ganadorCuartosO3, #ganadorCuartosO4, #ganadorCuartosO5,
    #ganadorCuartosO6, #ganadorCuartosO7, #ganadorCuartosO8,
    #ganadorSemi1, #ganadorSemi2, #ganadorSemi3, #ganadorSemi4,
    #ganadorTercer1, #ganadorTercer2,
    #ganadorFinal1, #ganadorFinal2 {
        display: none;
        background-color: yellow;
        width: 1.2rem;
        height: 1.2rem;
        margin: 0.5rem;
    }

button * {
    pointer-events: none;
}